[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "system/bash_it.symlink"]
	path = system/bash_it.symlink
	url = http://github.com/revans/bash-it.git
